{% load static%}
<script src="{% static "vendor/jquery/jquery-3.5.1.js" %}"></script>
<script src="{% static "vendor/popper/popper.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
<script src="{% static "vendor/bootstrap/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
<script src="{% static "js/raphael-2.1.0.min.js" %}"></script>
<script src="{% static "js/morris.js" %}"></script>
<script src="{% static "js/chart.min.js" %}"></script>
<script src="{% static "js/chartjs.js" %}"></script>
<script src="{% static "js/easypiechart-data.js" %}"></script>
<script src="{% static "js/easypiechart.js" %}"></script>
<script src="{% static "js/jquery.chart.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='{% static "js/a076d05399.js" %}'></script>
<script src="{% static "js/loader.js" %}"></script>